<ng-container>
    <div class="field" [class.error]="passwordShowError">
        <label>{{ 'user_label_password' | translate }}*</label>
        <input type="password" (keyup)="onChangeSignupPassword($event)" [ngModel]="passwordValue"
            [disabled]="isDisabled">
        <sui-progress *ngIf="!passwordShowError && passwordLevel !== null" class="bottom attached indicating active"
            [maximum]="5" [value]="passwordLevel + 1">
        </sui-progress>
    </div>
    <div *ngIf="passwordShowError" class="ui error message">
        <p>{{ 'auth_password_too_weak' | translate }}</p>
    </div>
</ng-container>
